html {
  font-family: Arial, Helvetica, 'YouYuan', 'microsoft yahei', sans-serif;
  height: 100%;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0px;
  height: 100%;
}

#app{
  height: 100%;
}

/*.appBar{
  background-image: url(images/header.jpg);
  background-size: cover;
}*/

.padding0{
  padding: 0px !important;
}